@charset "utf-8";

html,
body {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
  background: #E0E0E0 0% 0% no-repeat padding-box;
  background: #E0E0E0 0% 0% no-repeat padding-box;
box-shadow: 0px 10px 10px #00000029;
border-radius: 40px;
opacity: 1;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  }

  
a {
  text-decoration:none !important;
  font: inherit;
  color:white;
  font: Bold 20px SpoqaHanSans;
  letter-spacing: 0px;
  vertical-align: baseline;
}



ul{
  list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
