<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header class = "header">
      <div class ="nav_bar">

      </div>
    </header>

    <!-- 메인 화면 (1)-->
    <div id="background_main">

    </div>

    <!-- 스터디 카드 화면(1) -->

  </body>
</html>
