<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <header class="header">
    <div class="header-wrap">
      <p class="button" id="apply"><a href="./opened.ejs">스터디 개설 바로가기 🤓</a></p>
    </div>

    <!-- <nav class="menu-bar">
      <ul id="menu-items">
        <li id="menu-item" class="button"><a href="">스터디 등록하기</a></li>
      </ul>
    </nav> -->
  </header>
  

    <!-- 메인 화면 (1)-->
    <section id="main">
      <div id="main-bg">
        <p id="title">성장하고 싶으신가요?🤩</p>
        <p id="m">솝트의 모든 스터디 신청과 관리는</p>
        <p id="m">솝트가 자라는 곳, SOPTUDY에서!</p>
      </div>

      <div id="main-bt">
        <div id="main-tg">
          <p class="button" id="tag"><a href="">전체보기👀</a></p><br>
          <p class="button" id="tag"><a href="">개발👩‍💻</a></p><br>
          <p class="button" id="tag"><a href="">디자인영상🧑‍🎨</a></p><br>
          <p class="button" id="tag"><a href="">운동🏃‍♀️</a></p><br>
          <p class="button" id="tag"><a href="">자기계발🙋‍♂️</a></p><br>
          <p class="button" id="tag"><a href="">기타🎸</a></p><br>
        </div>
      </div>
    
    </section>

    <section id="study">
      <div class="card_container">
        <ul class="card_list">
          <div class="card_contents">
             <li class="card_study">
               <div class="member">
                 <img class="man" src="/images/man1.png" alt>
                 <p class="memberCnt">3/5</p>
               </div>
               <div class="study_contents">
                 <p class="icon">👩‍💻</p>
               <p class="category">#개발</p>
               <p class="title">채원이의 서버 뿌시기</p>
               <p class="leader">김채원</p>
               </div>
          </li>
          </div>
        </ul>
      </div>
    </section>
 
    <!-- <section id="study" style="width:100%;height: 100vh;background: #E0E0E0 0% 0% no-repeat padding-box;
    opacity: 1;">
      카드 모양 만들어놓고,,, 3개 단위마다 줄이 바뀌는 것을 if... 
     
    </section> -->

  </body>
</html>
