<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/opened.css' />
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header class="header">
    <div class="header-wrap">
    </div>
  </header>
  

    <!-- 스터디 개설 페이지 -->
    <section id="open">
      <div class="open_container">
        <form>
          <table>
            <tr>
              <td>스터디 분야</td>
              <td>
                 <div id="category">
                <div class="study_ct">
                  <p class="button" id="tag">개발👩‍💻</p>
                  <p class="button" id="tag">디자인영상🧑‍🎨</p>
                  <p class="button" id="tag">운동🏃‍♀️</p>
                  <p class="button" id="tag">자기계발🙋‍♂️</p>
                  <p class="button" id="tag">기타🎸</p>
                </div>
              </td>
             
              </div>
            </tr>
  
            <tr>
              <td>스터디장</td>
              <td><input type="text" class="txt"/></td>
            </tr>

            <tr>
              <td>연락처</td>
              <td><input type="text"class="txt"/></td>
            </tr>

            <tr>
              <td>스터디장 소속파트</td>
            </tr>

            <tr>
              <td>스터디 이름</td>
              <td><input type="text" class="txt"/></td>
            </tr>

            <tr>
              <td>한줄 소개</td>
              <td><input type="text" class="txt"/></td>
            </tr>

            <tr>
              <td>스터디 소개</td>
              <td><input type="text" class="txt"/></td>
            </tr>

            <tr>
              <td>모임 일정</td>
              <td><input type="text" class="txt"/></td>
            </tr>

            <tr>
              <td>모임 지역</td>
              <td><input type="text" class="txt"/></td>
            </tr>

            <tr>
              <td>모집 인원</td>
              <td><input type="text" class="txt"/></td>
            </tr>

            <tr>
              <td>비밀번호</td>
              <td><input type="text" class="txt"/></td>
            </tr>

            <tr>
              <td>비번확인</td>
              <td><input type="text" class="txt"/></td>
            </tr>

          </table>

          <input type="submit" value="솝터디 사이트에 저~장😎" class="button">
        </form>
      </div>
    </section>

  </body>
</html>